openapi: 3.1.0
info:
  title: Tumi Configurator API
  version: 1.0.0
  description: |
    Backend API for Tumi Configurator built with Laravel. It supports energy estimation, hardware recommendation, installer assignment, milestone-based payments, and verification.

servers:
  - url: https://api.tumi-energy.com/v1
    description: Production API
  - url: https://staging-api.tumi-energy.com/v1
    description: Staging API

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ---------------------- USER ----------------------
    User:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        other_names:
          type: string
          nullable: true
        email:
          type: string
          format: email
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        role:
          type: string
          enum:
            - customer
            - installer
            - provider
            - admin
            - verifier
        status:
          type: string
          enum:
            - active
            - inactive
            - suspended
        profile_image_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        first_name: Ama
        last_name: Mensah
        other_names: Abena
        email: ama@example.com
        phone: '+233500000000'
        address: Osu, Accra
        role: customer
        status: active
        profile_image_url: https://s3.amazonaws.com/tumi/profile1.png
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    # ---------------------- INSTALLER DETAIL ----------------------
    InstallerDetail:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        company_name:
          type: string
          nullable: true
          description: Company name for company installers, null for individuals
        license_number:
          type: string
        service_areas:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
          nullable: true
        years_experience:
          type: integer
        rating:
          type: number
          format: double
          minimum: 0
          maximum: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        user_id: 10
        company_name: ABC Installations Ltd
        license_number: LIC-GH-2024-001
        service_areas:
          - Greater Accra
          - Ashanti
          - Western
        certifications:
          - Solar PV Installation
          - Electrical Safety
          - NABCEP Certified
        years_experience: 8
        rating: 4.75
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    # ---------------------- PROVIDER DETAIL ----------------------
    ProviderDetail:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        company_name:
          type: string
          nullable: true
          description: Company name for company providers, null for individuals
        business_registration:
          type: string
        service_areas:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
          nullable: true
        rating:
          type: number
          format: double
          minimum: 0
          maximum: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        user_id: 15
        company_name: Solar Providers Ghana Ltd
        business_registration: BRN-GH-2024-5678
        service_areas:
          - Greater Accra
          - Central
          - Eastern
        certifications:
          - ISO 9001:2015
          - Solar Alliance Member
          - Ghana Standards Authority
        rating: 4.85
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    # ---------------------- ORGANISATION ----------------------
    Organisation:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          enum:
            - installer
            - provider
            - customer
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        installer_detail:
          $ref: '#/components/schemas/OrganisationInstallerDetail'
        provider_detail:
          $ref: '#/components/schemas/OrganisationProviderDetail'
      example:
        id: 1
        name: Solar Installations Co.
        type: installer
        description: Professional solar installation company
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    OrganisationInstallerDetail:
      type: object
      properties:
        id:
          type: integer
        organisation_id:
          type: integer
        license_number:
          type: string
        service_areas:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
          nullable: true
        years_experience:
          type: integer
        rating:
          type: number
          format: double
          minimum: 0
          maximum: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        organisation_id: 1
        license_number: ORG-LIC-GH-2024-001
        service_areas:
          - Greater Accra
          - Ashanti
          - Western
        certifications:
          - ISO 9001:2015
          - Solar PV Installation
        years_experience: 10
        rating: 4.8
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    OrganisationProviderDetail:
      type: object
      properties:
        id:
          type: integer
        organisation_id:
          type: integer
        business_registration:
          type: string
        service_areas:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
          nullable: true
        rating:
          type: number
          format: double
          minimum: 0
          maximum: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        organisation_id: 2
        business_registration: ORG-BRN-GH-2024-001
        service_areas:
          - Greater Accra
          - Central
        certifications:
          - ISO 9001:2015
          - Ghana Standards Authority
        rating: 4.9
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    OrganisationMember:
      type: object
      properties:
        id:
          type: integer
        organisation_id:
          type: integer
        user_id:
          type: integer
        role:
          type: string
          enum:
            - owner
            - admin
            - installer
            - provider
            - customer
        joined_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User'
      example:
        id: 1
        organisation_id: 1
        user_id: 5
        role: admin
        joined_at: '2025-01-10T08:00:00Z'
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    OrganisationInvitation:
      type: object
      properties:
        id:
          type: integer
        organisation_id:
          type: integer
        email:
          type: string
          format: email
        role:
          type: string
          enum:
            - admin
            - installer
            - provider
            - customer
        status:
          type: string
          enum:
            - pending
            - accepted
            - rejected
            - expired
        token:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        organisation_id: 1
        email: newmember@example.com
        role: installer
        status: pending
        token: inv_abc123xyz789
        expires_at: '2025-01-17T08:00:00Z'
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    # ---------------------- SITE ----------------------
    Site:
      type: object
      properties:
        id:
          type: integer
        owner_id:
          type: integer
        owner_type:
          type: string
          enum:
            - User
            - Organisation
        name:
          type: string
        address:
          type: string
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
          description: Latitude coordinate (must be between -90 and 90)
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
          description: Longitude coordinate (must be between -180 and 180)
        timezone:
          type: string
          description: Valid timezone identifier (e.g., Africa/Accra, America/New_York)
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - owner_id
        - owner_type
        - name
        - address
        - latitude
        - longitude
        - timezone
      example:
        id: 101
        owner_id: 1
        owner_type: User
        name: Accra Apartment
        address: Osu, Accra
        longitude: -0.186964
        latitude: 5.603717
        timezone: Africa/Accra
        notes: Single phase connection
        created_at: '2025-01-10T08:00:00Z'
        updated_at: '2025-01-10T08:00:00Z'

    # ---------------------- IMAGE ----------------------
    Image:
      type: object
      properties:
        id: integer
        url: string
        caption: string
      example:
        id: 501
        url: https://s3.tumi-energy.com/sites/site1-1.jpg
        caption: Front view of building

    # ---------------------- APPLIANCE ----------------------
    Appliance:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        default_wattage:
          type: number
          format: double
        default_usage_hours:
          type: number
          format: double
          nullable: true
          minimum: 0
          maximum: 24
        metadata:
          type: object
          nullable: true
          properties:
            efficiency_rating:
              type: string
              nullable: true
            notes:
              type: string
              nullable: true
        is_public:
          type: boolean
        category:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        owner:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string
            type:
              type: string
              enum:
                - User
                - Organisation
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 7
        name: Ceiling Fan
        default_wattage: 75
        default_usage_hours: 8
        metadata:
          efficiency_rating: A
          notes: Standard ceiling fan
        is_public: true
        category:
          id: 4
          name: Cooling & Heating
        owner:
          id: 5
          name: Admin User
          type: User
        created_at: '2025-12-10T10:00:00Z'
        updated_at: '2025-12-10T10:00:00Z'

    # ---------------------- SITE APPLIANCE ----------------------
    SiteAppliance:
      type: object
      properties:
        id:
          type: integer
        owner_id:
          type: integer
        owner_type:
          type: string
          enum:
            - User
            - Organisation
        site_id:
          type: integer
        appliance_id:
          type: integer
        quantity:
          type: integer
          minimum: 1
        daily_usage_hours:
          type: number
          format: double
          minimum: 0
          maximum: 24
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - owner_id
        - owner_type
        - site_id
        - appliance_id
        - quantity
        - daily_usage_hours
      example:
        id: 1
        owner_id: 1
        owner_type: User
        site_id: 101
        appliance_id: 7
        quantity: 2
        daily_usage_hours: 8.5
        notes: Living room and bedroom fans
        created_at: '2025-12-10T10:00:00Z'
        updated_at: '2025-12-10T10:00:00Z'

    # ---------------------- ESTIMATION ----------------------
    Estimation:
      type: object
      properties:
        id:
          type: integer
        site:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        owner:
          type: object
          properties:
            id:
              type: integer
            type:
              type: string
              enum:
                - User
                - Organisation
            name:
              type: string
        version:
          type: integer
          description: Version number for estimation history tracking
        previous_estimation_id:
          type: integer
          nullable: true
          description: ID of previous version if this is an update
        total_watts:
          type: string
          description: Total watts formatted to 2 decimal places
        daily_kwh:
          type: string
          description: Daily kilowatt-hours formatted to 2 decimal places
        monthly_kwh:
          type: string
          description: Monthly kilowatt-hours formatted to 2 decimal places
        estimated_monthly_cost:
          type: string
          description: Estimated monthly cost formatted to 2 decimal places
        tariff_structure:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string
            type:
              type: string
              enum:
                - tiered
                - flat
                - time_of_use
        power_factor_applied:
          type: string
          nullable: true
          description: Average power factor applied formatted to 2 decimal places
        seasonal_multiplier:
          type: string
          nullable: true
          description: Seasonal adjustment multiplier formatted to 2 decimal places
        appliances_breakdown:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              category:
                type: string
              watts:
                type: number
              quantity:
                type: integer
              daily_usage_hours:
                type: number
              power_factor:
                type: number
              daily_kwh:
                type: number
              monthly_cost:
                type: number
        calculation_metadata:
          type: object
          properties:
            tariff_structure_id:
              type: integer
            tariff_structure_name:
              type: string
            tariff_type:
              type: string
            seasonal_adjustment_id:
              type: integer
              nullable: true
            seasonal_adjustment_name:
              type: string
              nullable: true
            location_multiplier_id:
              type: integer
              nullable: true
            location_region:
              type: string
              nullable: true
            location_city:
              type: string
              nullable: true
            calculated_at:
              type: string
              format: date-time
            appliance_count:
              type: integer
        created_by:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - site
        - owner
        - version
        - total_watts
        - daily_kwh
        - monthly_kwh
        - estimated_monthly_cost
      example:
        id: 301
        site:
          id: 101
          name: Accra Apartment
        owner:
          id: 1
          type: User
          name: Ama Mensah
        version: 2
        previous_estimation_id: 300
        total_watts: '5000.00'
        daily_kwh: '108.00'
        monthly_kwh: '3726.00'
        estimated_monthly_cost: '3890.45'
        tariff_structure:
          id: 1
          name: Ghana ECG Residential
          type: tiered
        power_factor_applied: '0.90'
        seasonal_multiplier: '1.15'
        appliances_breakdown:
          - id: 7
            name: Refrigerator
            category: Cooling & Heating
            watts: 150
            quantity: 2
            daily_usage_hours: 24
            power_factor: 0.85
            daily_kwh: 6.12
            monthly_cost: 183.42
          - id: 12
            name: LED Bulb
            category: Lighting
            watts: 15
            quantity: 10
            daily_usage_hours: 6
            power_factor: 0.95
            daily_kwh: 0.86
            monthly_cost: 25.8
        calculation_metadata:
          tariff_structure_id: 1
          tariff_structure_name: Ghana ECG Residential
          tariff_type: tiered
          seasonal_adjustment_id: 1
          seasonal_adjustment_name: Dry Season
          location_multiplier_id: null
          location_region: null
          location_city: null
          calculated_at: '2025-12-14T10:30:00Z'
          appliance_count: 2
        created_by:
          id: 1
          name: Ama Mensah
        created_at: '2025-12-14T10:30:00Z'
        updated_at: '2025-12-14T10:30:00Z'

    # ---------------------- RECOMMENDED HARDWARE ----------------------
    RecommendedHardware:
      type: object
      properties:
        id: integer
        estimation_id: integer
        hardware_id: integer
        quantity: integer
        total_cost: number
        currency: string
      example:
        id: 901
        estimation_id: 301
        hardware_id: 4001
        quantity: 2
        total_cost: 1800
        currency: GHS

    # ---------------------- RECOMMENDATION RESOURCE ----------------------
    ProviderSummary:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        company_name:
          type: string
          nullable: true
        rating:
          type: number
          format: double
        verified:
          type: boolean
      example:
        id: 15
        company_name: Solar Providers Ghana Ltd
        rating: 4.85
        verified: true

    RecommendationComponent:
      type: object
      properties:
        hardware_id:
          type: integer
        name:
          type: string
        count:
          type: integer
        unit_price:
          type: string
        subtotal:
          type: string
        specs:
          type: object
        rationale:
          type: string
        provider:
          $ref: '#/components/schemas/ProviderSummary'
      example:
        hardware_id: 4001
        name: SuperPanel 450W
        count: 4
        unit_price: '1200.00'
        subtotal: '4800.00'
        specs:
          power_watts: 450
          efficiency: 19.5
        rationale: 'Sized for daily kWh and efficiency'
        provider:
          id: 15
          company_name: Solar Providers Ghana Ltd
          rating: 4.85
          verified: true

    RecommendationItem:
      type: object
      properties:
        providers:
          type: array
          items:
            $ref: '#/components/schemas/ProviderSummary'
        components:
          type: object
          properties:
            solar_panels:
              $ref: '#/components/schemas/RecommendationComponent'
            inverter:
              $ref: '#/components/schemas/RecommendationComponent'
            battery:
              $ref: '#/components/schemas/RecommendationComponent'
            charge_controller:
              $ref: '#/components/schemas/RecommendationComponent'
        total_price:
          type: number
          format: double
        currency:
          type: string
      example:
        providers:
          - id: 15
            company_name: Solar Providers Ghana Ltd
            rating: 4.85
            verified: true
        components:
          solar_panels:
            hardware_id: 4001
            name: SuperPanel 450W
            count: 4
            unit_price: '1200.00'
            subtotal: '4800.00'
            specs:
              power_watts: 450
              efficiency: 19.5
            rationale: 'Sized for daily kWh and efficiency'
            provider:
              id: 15
              company_name: Solar Providers Ghana Ltd
              rating: 4.85
              verified: true
        total_price: 17160.0
        currency: GHS

    RecommendationData:
      type: object
      properties:
        estimation_summary:
          type: object
          properties:
            total_watts:
              type: integer
            daily_kwh:
              type: number
            monthly_kwh:
              type: number
            estimated_monthly_cost:
              type: string
            estimated_monthly_cost_meta:
              type: object
              properties:
                amount:
                  type: number
                formatted:
                  type: string
                currency:
                  type: string
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationItem'
      example:
        estimation_summary:
          total_watts: 1500
          daily_kwh: 10.0
          monthly_kwh: 300
          estimated_monthly_cost: '400.00'
        recommendations:
          - providers:
              - id: 15
                company_name: Solar Providers Ghana Ltd
                rating: 4.85
                verified: true
            components:
              solar_panels:
                hardware_id: 4001
                name: SuperPanel 450W
                count: 4
                unit_price: '1200.00'
                subtotal: '4800.00'
                specs:
                  power_watts: 450
                rationale: 'Sized for daily kWh and efficiency'
            total_price: 17160.0
            currency: GHS

    RecommendationResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/RecommendationData'
        message:
          type: string
      example:
        success: true
        data:
          estimation_summary:
            total_watts: 1500
            daily_kwh: 10.0
            monthly_kwh: 300
            estimated_monthly_cost: '400.00'
            estimated_monthly_cost_meta:
              amount: 400.00
              formatted: GHS 400.00
              currency: GHS
          recommendations:
            - providers:
                - id: 15
                  company_name: Solar Providers Ghana Ltd
                  rating: 4.85
                  verified: true
              components:
                solar_panels:
                  hardware_id: 4001
                  name: SuperPanel 450W
                  count: 4
                  unit_price: '1200.00'
                  subtotal: '4800.00'
                  specs:
                    power_watts: 450
                  rationale: 'Sized for daily kWh and efficiency'
              total_price: 17160.0
              currency: GHS

    # ------------------ RECOMMENDATION BUNDLES ------------------
    RecommendationBundleRequest:
      type: object
      properties:
        total_cost:
          type: number
        currency:
          type: string
        metadata:
          type: object
        components:
          type: array
          items:
            type: object
            properties:
              hardware_id:
                type: integer
              quantity:
                type: integer
              total_cost:
                type: number
              role:
                type: string
              rationale:
                type: string
            required:
              - hardware_id
      required:
        - total_cost
        - components

    RecommendationBundleComponent:
      type: object
      properties:
        id:
          type: integer
        bundle_id:
          type: integer
        hardware_id:
          type: integer
        role:
          type: string
          nullable: true
        quantity:
          type: integer
        total_cost:
          type: number
        rationale:
          type: string
          nullable: true
        hardware:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            price:
              type: number
            currency:
              type: string
            hardware_type:
              type: string
      example:
        id: 10
        bundle_id: 5
        hardware_id: 4001
        role: solar_panel
        quantity: 4
        total_cost: 4800.00
        rationale: Sized for daily kWh and efficiency

    RecommendationBundle:
      type: object
      properties:
        id:
          type: integer
        estimation_id:
          type: integer
        owner_type:
          type: string
        owner_id:
          type: integer
        total_cost:
          type: number
        currency:
          type: string
        metadata:
          type: object
        created_by:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        components:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationBundleComponent'
      example:
        id: 5
        estimation_id: 11
        owner_type: User
        owner_id: 3
        total_cost: 17160.00
        currency: GHS
        metadata: {}
        created_by: 3
        created_at: '2025-12-29T10:00:00Z'
        updated_at: '2025-12-29T10:00:00Z'
        components:
          - id: 10
            hardware_id: 4001
            role: solar_panel
            quantity: 4
            total_cost: 4800.00
            rationale: Sized for daily kWh and efficiency

    RecommendationBundleResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/RecommendationBundle'
      example:
        success: true
        data:
          $ref: '#/components/schemas/RecommendationBundle'

    RecommendationBundleListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationBundle'
      example:
        success: true
        data:
          - $ref: '#/components/schemas/RecommendationBundle'

    # ---------------------- PAYMENT ----------------------
    Payment:
      type: object
      properties:
        id: integer
        project_id: integer
        amount: number
        payment_method:
          type: string
          enum:
            - momo
            - card
            - bank
            - transfer
        status:
          type: string
          enum:
            - pending
            - success
            - failed
            - refunded
        transaction_ref: string
      example:
        id: 701
        project_id: 601
        amount: 1200
        payment_method: momo
        status: success
        transaction_ref: TXN-123456789

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      example:
        success: false
        message: Validation failed
        errors:
          email:
            - This email is already registered

paths:
  # ---------------- AUTH ----------------
  /auth/register:
    post:
      summary: Register a new user
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - email
                - password
                - password_confirmation
              properties:
                first_name:
                  type: string
                  example: Ama
                last_name:
                  type: string
                  example: Mensah
                other_names:
                  type: string
                  nullable: true
                  example: Abena
                email:
                  type: string
                  format: email
                  example: ama.mensah@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123
                password_confirmation:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123
                phone:
                  type: string
                  nullable: true
                  example: '+233500000000'
                address:
                  type: string
                  nullable: true
                  example: Osu, Accra
                role:
                  type: string
                  enum:
                    - customer
                    - installer
                    - provider
                    - admin
                  nullable: true
                  example: customer
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Registration successful
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      access_token:
                        type: string
                        example: 1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
              example:
                success: true
                message: Registration successful
                data:
                  user:
                    id: 1
                    first_name: Ama
                    last_name: Mensah
                    other_names: Abena
                    email: ama.mensah@example.com
                    phone: '+233500000000'
                    address: Osu, Accra
                    role: customer
                    status: active
                    created_at: '2025-12-07T10:30:00Z'
                    updated_at: '2025-12-07T10:30:00Z'
                  access_token: 1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                error: Validation failed
                errors:
                  email:
                    - This email is already registered
                  password:
                    - Password confirmation does not match

  /auth/register/installer:
    post:
      summary: Register a new installer
      description: |
        Register a user with installer role and professional details.

        **Supports both individuals and companies:**
        - Individual installers: Omit company_name or set to null
        - Company installers: Provide company_name

        All installers must have a valid license_number and specify their service_areas.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - email
                - password
                - password_confirmation
                - license_number
                - service_areas
                - years_experience
              properties:
                first_name:
                  type: string
                  example: John
                last_name:
                  type: string
                  example: Installer
                other_names:
                  type: string
                  nullable: true
                  example: David
                email:
                  type: string
                  format: email
                  example: john.installer@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123
                password_confirmation:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123
                phone:
                  type: string
                  nullable: true
                  example: '+233501234567'
                address:
                  type: string
                  nullable: true
                  example: Tema, Greater Accra
                company_name:
                  type: string
                  nullable: true
                  example: ABC Installations Ltd
                  description: Company name (optional - for companies) or null for individual
                    installers
                license_number:
                  type: string
                  example: LIC-GH-2024-001
                service_areas:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  example:
                    - Greater Accra
                    - Ashanti
                    - Western
                certifications:
                  type: array
                  items:
                    type: string
                  nullable: true
                  example:
                    - Solar PV Installation
                    - Electrical Safety
                years_experience:
                  type: integer
                  minimum: 0
                  maximum: 100
                  example: 8
      responses:
        '201':
          description: Installer registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Installer registration successful
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      installer:
                        $ref: '#/components/schemas/InstallerDetail'
                      access_token:
                        type: string
                        example: 1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
              example:
                success: true
                message: Installer registration successful
                data:
                  user:
                    id: 10
                    first_name: John
                    last_name: Installer
                    other_names: David
                    email: john.installer@example.com
                    phone: '+233501234567'
                    address: Tema, Greater Accra
                    role: installer
                    status: active
                    created_at: '2025-12-10T10:30:00Z'
                    updated_at: '2025-12-10T10:30:00Z'
                  installer:
                    id: 1
                    user_id: 10
                    company_name: ABC Installations Ltd
                    license_number: LIC-GH-2024-001
                    service_areas:
                      - Greater Accra
                      - Ashanti
                      - Western
                    certifications:
                      - Solar PV Installation
                      - Electrical Safety
                    years_experience: 8
                    rating: 0
                    created_at: '2025-12-10T10:30:00Z'
                    updated_at: '2025-12-10T10:30:00Z'
                  access_token: 1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                error: Validation failed
                errors:
                  email:
                    - This email is already registered
                  license_number:
                    - This license number is already in use
                  service_areas:
                    - The service areas field is required

  /auth/register/provider:
    post:
      summary: Register a new provider
      description: |
        Register a user with provider role and business details.

        **Supports both individuals and companies:**
        - Individual providers: Omit company_name or set to null
        - Company providers: Provide company_name

        All providers must have a valid business_registration and specify their service_areas.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - email
                - password
                - password_confirmation
                - business_registration
                - service_areas
              properties:
                first_name:
                  type: string
                  example: Sarah
                last_name:
                  type: string
                  example: Provider
                other_names:
                  type: string
                  nullable: true
                  example: Jane
                email:
                  type: string
                  format: email
                  example: sarah.provider@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123
                password_confirmation:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123
                phone:
                  type: string
                  nullable: true
                  example: '+233507654321'
                address:
                  type: string
                  nullable: true
                  example: Kumasi, Ashanti
                company_name:
                  type: string
                  nullable: true
                  example: Solar Providers Ghana Ltd
                  description: Company name (optional - for companies) or null for individual
                    providers
                business_registration:
                  type: string
                  example: BRN-GH-2024-5678
                service_areas:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  example:
                    - Greater Accra
                    - Central
                    - Eastern
                certifications:
                  type: array
                  items:
                    type: string
                  nullable: true
                  example:
                    - ISO 9001:2015
                    - Solar Alliance Member
      responses:
        '201':
          description: Provider registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Provider registration successful
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      provider:
                        $ref: '#/components/schemas/ProviderDetail'
                      access_token:
                        type: string
                        example: 1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
              example:
                success: true
                message: Provider registration successful
                data:
                  user:
                    id: 15
                    first_name: Sarah
                    last_name: Provider
                    other_names: Jane
                    email: sarah.provider@example.com
                    phone: '+233507654321'
                    address: Kumasi, Ashanti
                    role: provider
                    status: active
                    created_at: '2025-12-10T11:00:00Z'
                    updated_at: '2025-12-10T11:00:00Z'
                  provider:
                    id: 1
                    user_id: 15
                    company_name: Solar Providers Ghana Ltd
                    business_registration: BRN-GH-2024-5678
                    service_areas:
                      - Greater Accra
                      - Central
                      - Eastern
                    certifications:
                      - ISO 9001:2015
                      - Solar Alliance Member
                    rating: 0
                    created_at: '2025-12-10T11:00:00Z'
                    updated_at: '2025-12-10T11:00:00Z'
                  access_token: 1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                error: Validation failed
                errors:
                  email:
                    - This email is already registered
                  business_registration:
                    - This business registration number is already in use
                  service_areas:
                    - The service areas field is required

  /auth/login:
    post:
      summary: Login user and receive JWT
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email: string
                password: string
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Login successful
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      access_token:
                        type: string
                        example: 1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
              example:
                success: true
                message: Login successful
                data:
                  user:
                    id: 1
                    first_name: Ama
                    last_name: Mensah
                    email: ama@example.com
                    role: customer
                    status: active
                  access_token: 1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Invalid credentials
              example:
                success: false
                error: Invalid credentials

  /auth/me:
    get:
      summary: Get authenticated user details
      description: Returns the profile information of the currently authenticated user
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: User retrieved successfully
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
              example:
                success: true
                message: User retrieved successfully
                data:
                  user:
                    id: 1
                    first_name: Ama
                    last_name: Mensah
                    other_names: Abena
                    email: ama@example.com
                    phone: '+233500000000'
                    address: Osu, Accra
                    role: customer
                    status: active
                    created_at: '2025-01-10T08:00:00Z'
                    updated_at: '2025-01-10T08:00:00Z'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Unauthenticated
              example:
                success: false
                error: Unauthenticated

  /auth/logout:
    post:
      summary: Logout user
      description: Revoke the current access token
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User logged out successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Successfully logged out
              example:
                success: true
                message: Successfully logged out
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Unauthenticated
              example:
                success: false
                error: Unauthenticated

  # ---------------- ORGANISATIONS ----------------
  /organisations:
    get:
      summary: List all organisations for authenticated user
      description: Returns all organisations where the user is a member
      tags:
        - Organisations
      responses:
        '200':
          description: List of organisations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Organisations retrieved successfully
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organisation'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create a new organisation
      description: |
        Create an organisation with optional site transfer.

        **Organisation Types:**
        - installer: Requires license_number, service_areas, years_experience
        - provider: Requires business_registration, service_areas
        - customer: Only requires name and description

        **Site Transfer:**
        Set transfer_sites to true to migrate user's existing sites to the new organisation.
      tags:
        - Organisations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                  example: Solar Installations Co.
                type:
                  type: string
                  enum:
                    - installer
                    - provider
                    - customer
                  example: installer
                description:
                  type: string
                  nullable: true
                  example: Professional solar installation company
                transfer_sites:
                  type: boolean
                  nullable: true
                  example: true
                  description: Transfer user's existing sites to organisation
                license_number:
                  type: string
                  example: ORG-LIC-GH-2024-001
                  description: Required for installer type
                business_registration:
                  type: string
                  example: ORG-BRN-GH-2024-001
                  description: Required for provider type
                service_areas:
                  type: array
                  items:
                    type: string
                  example:
                    - Greater Accra
                    - Ashanti
                  description: Required for installer and provider types
                certifications:
                  type: array
                  items:
                    type: string
                  nullable: true
                  example:
                    - ISO 9001:2015
                years_experience:
                  type: integer
                  example: 10
                  description: Required for installer type
      responses:
        '201':
          description: Organisation created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Organisation created successfully
                  data:
                    $ref: '#/components/schemas/Organisation'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /organisations/{id}:
    get:
      summary: Get organisation details
      description: Get detailed information about a specific organisation
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Organisation details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Organisation retrieved successfully
                  data:
                    $ref: '#/components/schemas/Organisation'
        '403':
          description: Forbidden - Not a member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organisation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      summary: Update organisation
      description: Update organisation details (requires admin or owner permission)
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Organisation updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Organisation updated successfully
                  data:
                    $ref: '#/components/schemas/Organisation'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      summary: Delete organisation
      description: Delete organisation (requires owner permission)
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Organisation deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Organisation deleted successfully
        '403':
          description: Forbidden - Not the owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /organisations/{id}/members:
    get:
      summary: Get organisation members
      description: List all members of an organisation
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Members retrieved successfully
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganisationMember'

  /organisations/{id}/invite:
    post:
      summary: Invite user to organisation
      description: Send invitation to join organisation (requires admin or owner permission)
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                  format: email
                  example: newmember@example.com
                role:
                  type: string
                  enum:
                    - admin
                    - installer
                    - provider
                    - customer
                  example: installer
      responses:
        '201':
          description: Invitation sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invitation sent successfully
                  data:
                    $ref: '#/components/schemas/OrganisationInvitation'

  /organisations/invitations/{token}/accept:
    post:
      summary: Accept organisation invitation
      description: Accept an invitation to join an organisation
      tags:
        - Organisations
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invitation accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invitation accepted successfully
                  data:
                    $ref: '#/components/schemas/OrganisationMember'

  /organisations/invitations/{token}/reject:
    post:
      summary: Reject organisation invitation
      description: Reject an invitation to join an organisation
      tags:
        - Organisations
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invitation rejected successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invitation rejected successfully
        '422':
          description: Validation error or invalid invitation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Invalid or expired invitation token.

  /organisations/{id}/members/{memberId}:
    delete:
      summary: Remove member from organisation
      description: Remove a member from organisation (requires admin or owner permission)
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: memberId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Member removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Member removed successfully

    patch:
      summary: Update member role
      description: Update a member's role in organisation (requires owner permission)
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: memberId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  type: string
                  enum:
                    - owner
                    - admin
                    - installer
                    - provider
                    - customer
                  example: admin
      responses:
        '200':
          description: Member role updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Member role updated successfully
                  data:
                    $ref: '#/components/schemas/OrganisationMember'

  /organisations/{id}/sites:
    get:
      summary: List organisation sites
      description: Get all sites owned by the organisation (requires membership)
      tags:
        - Organisations
        - Sites
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of organisation sites
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Organisation sites retrieved successfully
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
        '403':
          description: Forbidden - Not a member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create organisation site
      description: Create a new site for the organisation (requires admin or owner
        permission)
      tags:
        - Organisations
        - Sites
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - address
                - latitude
                - longitude
                - timezone
              properties:
                name:
                  type: string
                  example: Accra Office
                address:
                  type: string
                  example: 123 Independence Ave, Accra
                latitude:
                  type: number
                  minimum: -90
                  maximum: 90
                  example: 5.603717
                longitude:
                  type: number
                  minimum: -180
                  maximum: 180
                  example: -0.186964
                timezone:
                  type: string
                  example: Africa/Accra
                notes:
                  type: string
                  nullable: true
                  example: Main office location
      responses:
        '201':
          description: Site created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Site created successfully
                  data:
                    $ref: '#/components/schemas/Site'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /organisations/{id}/sites/{siteId}:
    get:
      summary: Get organisation site details
      description: Get details of a specific organisation site (requires membership)
      tags:
        - Organisations
        - Sites
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: siteId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Site details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Site retrieved successfully
                  data:
                    $ref: '#/components/schemas/Site'
        '403':
          description: Forbidden - Not a member or site belongs to different organisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /organisations/{id}/sites/{siteId}/appliances:
    post:
      summary: Add appliance to organisation site
      description: Add an appliance to an organisation site (requires admin or owner
        permission)
      tags:
        - Organisations
        - Sites
        - Appliances
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Organisation ID
        - name: siteId
          in: path
          required: true
          schema:
            type: integer
          description: Site ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - appliance_id
                - quantity
                - daily_usage_hours
              properties:
                appliance_id:
                  type: integer
                  description: ID of the appliance to add
                quantity:
                  type: integer
                  minimum: 1
                  description: Number of appliances
                daily_usage_hours:
                  type: number
                  format: double
                  minimum: 0
                  maximum: 24
                  description: Average daily usage in hours
                notes:
                  type: string
                  nullable: true
                  description: Additional notes about the appliance usage
      responses:
        '201':
          description: Appliance added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Appliance added to site successfully
                  data:
                    $ref: '#/components/schemas/SiteAppliance'
        '403':
          description: Forbidden - Not authorized to add appliances
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: You do not have permission to add appliances to this organisation site
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Site not found or access denied
        '409':
          description: Conflict - Appliance already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: This appliance is already added to the site.

  # ---------------- APPLIANCES ----------------
  /appliances:
    get:
      summary: List appliances
      description: Get public appliances and current user's private custom appliances
      tags:
        - Appliances
      parameters:
        - in: query
          name: category_id
          schema:
            type: integer
          description: Filter by category ID
        - in: query
          name: search
          schema:
            type: string
          description: Search by appliance name
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number for pagination
      responses:
        '200':
          description: List of appliances
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appliance'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 2
                      per_page:
                        type: integer
                        example: 15
                      total:
                        type: integer
                        example: 20
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedError'

    post:
      summary: Create custom appliance
      description: Create a new private custom appliance for the authenticated user
      tags:
        - Appliances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - category_id
                - default_wattage
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: My Custom Air Conditioner
                category_id:
                  type: integer
                  example: 4
                default_wattage:
                  type: number
                  format: double
                  minimum: 0
                  example: 1200
                default_usage_hours:
                  type: number
                  format: double
                  minimum: 0
                  maximum: 24
                  nullable: true
                  example: 10
                metadata:
                  type: object
                  nullable: true
                  properties:
                    efficiency_rating:
                      type: string
                      maxLength: 10
                      nullable: true
                      example: B
                    notes:
                      type: string
                      maxLength: 500
                      nullable: true
                      example: Custom split unit AC
      responses:
        '201':
          description: Appliance created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Appliance'
                  message:
                    type: string
                    example: Appliance created successfully
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /appliances/{id}:
    get:
      summary: Get appliance details
      description: Get details of a specific appliance (must be public or owned by user)
      tags:
        - Appliances
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Appliance ID
      responses:
        '200':
          description: Appliance details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Appliance'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedError'
        '403':
          description: Forbidden - Cannot view private appliance of another user
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: You do not have permission to view this appliance
        '404':
          description: Appliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      summary: Update custom appliance
      description: Update an appliance owned by the authenticated user (cannot change
        is_public)
      tags:
        - Appliances
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Appliance ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: Updated Appliance Name
                category_id:
                  type: integer
                  example: 4
                default_wattage:
                  type: number
                  format: double
                  minimum: 0
                  example: 1500
                default_usage_hours:
                  type: number
                  format: double
                  minimum: 0
                  maximum: 24
                  nullable: true
                  example: 12
                metadata:
                  type: object
                  nullable: true
                  properties:
                    efficiency_rating:
                      type: string
                      maxLength: 10
                      nullable: true
                      example: A
                    notes:
                      type: string
                      maxLength: 500
                      nullable: true
                      example: Updated notes
      responses:
        '200':
          description: Appliance updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Appliance'
                  message:
                    type: string
                    example: Appliance updated successfully
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedError'
        '403':
          description: Forbidden - Cannot update appliance owned by another user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Appliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

    delete:
      summary: Delete custom appliance
      description: Soft delete an appliance owned by the authenticated user (sets
        is_active to false)
      tags:
        - Appliances
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Appliance ID
      responses:
        '200':
          description: Appliance deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Appliance deleted successfully
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedError'
        '403':
          description: Forbidden - Cannot delete appliance owned by another user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Appliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /admin/appliances:
    post:
      summary: Create public appliance (Admin only)
      description: Create a new public catalog appliance (requires admin role)
      tags:
        - Admin - Appliances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - category_id
                - default_wattage
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: Refrigerator (Commercial)
                category_id:
                  type: integer
                  example: 2
                default_wattage:
                  type: number
                  format: double
                  minimum: 0
                  example: 300
                default_usage_hours:
                  type: number
                  format: double
                  minimum: 0
                  maximum: 24
                  nullable: true
                  example: 24
                is_public:
                  type: boolean
                  nullable: true
                  default: true
                  example: true
                metadata:
                  type: object
                  nullable: true
                  properties:
                    efficiency_rating:
                      type: string
                      maxLength: 10
                      nullable: true
                      example: A+
                    notes:
                      type: string
                      maxLength: 500
                      nullable: true
                      example: Commercial grade refrigerator
      responses:
        '201':
          description: Appliance created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Appliance'
                  message:
                    type: string
                    example: Appliance created successfully
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedError'
        '403':
          description: Forbidden - Admin access required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Admin access required
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /admin/appliances/{id}:
    put:
      summary: Update any appliance (Admin only)
      description: Update any appliance including visibility (requires admin role)
      tags:
        - Admin - Appliances
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Appliance ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: Updated Appliance
                category_id:
                  type: integer
                  example: 3
                default_wattage:
                  type: number
                  format: double
                  minimum: 0
                  example: 250
                default_usage_hours:
                  type: number
                  format: double
                  minimum: 0
                  maximum: 24
                  nullable: true
                  example: 18
                is_public:
                  type: boolean
                  nullable: true
                  example: true
                metadata:
                  type: object
                  nullable: true
                  properties:
                    efficiency_rating:
                      type: string
                      maxLength: 10
                      nullable: true
                      example: A
                    notes:
                      type: string
                      maxLength: 500
                      nullable: true
                      example: Updated description
      responses:
        '200':
          description: Appliance updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Appliance'
                  message:
                    type: string
                    example: Appliance updated successfully
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedError'
        '403':
          description: Forbidden - Admin access required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Admin access required
        '404':
          description: Appliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

    delete:
      summary: Delete any appliance (Admin only)
      description: Soft delete any appliance (requires admin role)
      tags:
        - Admin - Appliances
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Appliance ID
      responses:
        '200':
          description: Appliance deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Appliance deleted successfully
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedError'
        '403':
          description: Forbidden - Admin access required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Admin access required
        '404':
          description: Appliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  # ---------------- SITES ----------------
  /sites:
    get:
      summary: List user's personal sites
      description: Get all sites owned by the authenticated user
      tags:
        - Sites
      responses:
        '200':
          description: List of user sites
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Sites retrieved successfully
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
              example:
                success: true
                message: Sites retrieved successfully
                data:
                  - id: 101
                    user_id: 1
                    name: Accra Apartment
                    address: Osu, Accra
                    latitude: 5.603717
                    longitude: -0.186964
                    timezone: Africa/Accra
                    notes: Single phase connection
                    created_at: '2025-12-08T10:00:00Z'
                    updated_at: '2025-12-08T10:00:00Z'
                  - id: 102
                    user_id: 1
                    name: Kumasi Office
                    address: Adum, Kumasi
                    latitude: 6.688437
                    longitude: -1.624845
                    timezone: Africa/Accra
                    notes: Three phase connection
                    created_at: '2025-12-08T11:00:00Z'
                    updated_at: '2025-12-08T11:00:00Z'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Authentication required. Please provide a valid access token.
              example:
                success: false
                error: Authentication required. Please provide a valid access token.

    post:
      summary: Create a user site
      description: Create a new site for the authenticated user
      tags:
        - Sites
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - address
                - latitude
                - longitude
                - timezone
              properties:
                name:
                  type: string
                  example: Home
                address:
                  type: string
                  example: 123 Main St, Accra
                latitude:
                  type: number
                  minimum: -90
                  maximum: 90
                  example: 5.603717
                longitude:
                  type: number
                  minimum: -180
                  maximum: 180
                  example: -0.186964
                timezone:
                  type: string
                  example: Africa/Accra
                notes:
                  type: string
                  nullable: true
                  example: Residential property
      responses:
        '201':
          description: Site created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Site created successfully
                  data:
                    $ref: '#/components/schemas/Site'
              example:
                success: true
                message: Site created successfully
                data:
                  id: 101
                  user_id: 1
                  name: Accra Apartment
                  address: Osu, Accra, Ghana
                  latitude: 5.603717
                  longitude: -0.186964
                  timezone: Africa/Accra
                  notes: Single phase connection, accessible via main road
                  created_at: '2025-12-08T10:00:00Z'
                  updated_at: '2025-12-08T10:00:00Z'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Authentication required. Please provide a valid access token.
              example:
                success: false
                error: Authentication required. Please provide a valid access token.
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                error: Validation failed
                errors:
                  name:
                    - The name field is required.
                  latitude:
                    - The latitude must be between -90 and 90.
                  longitude:
                    - The longitude must be between -180 and 180.
                  timezone:
                    - The timezone field is required.

  /sites/{id}:
    get:
      summary: Get a specific site
      description: Retrieve details of a specific site by ID
      tags:
        - Sites
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Site ID
          example: 101
      responses:
        '200':
          description: Site retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Site retrieved successfully
                  data:
                    $ref: '#/components/schemas/Site'
              example:
                success: true
                message: Site retrieved successfully
                data:
                  id: 101
                  user_id: 1
                  name: Accra Apartment
                  address: Osu, Accra, Ghana
                  latitude: 5.603717
                  longitude: -0.186964
                  timezone: Africa/Accra
                  notes: Single phase connection
                  created_at: '2025-12-08T10:00:00Z'
                  updated_at: '2025-12-08T10:00:00Z'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Authentication required. Please provide a valid access token.
              example:
                success: false
                error: Authentication required. Please provide a valid access token.
        '403':
[...]
