openapi: 3.1.0
info:
  title: Tumi Configurator API
  version: 1.0.0
  description: >
    Backend API for Tumi Configurator built with Laravel.
    It supports energy estimation, hardware recommendation,
    installer assignment, milestone-based payments, and verification.

servers:
  - url: https://api.tumi-energy.com/v1
    description: Production API
  - url: https://staging-api.tumi-energy.com/v1
    description: Staging API

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ---------------------- USER ----------------------
    User:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        other_names:
          type: string
          nullable: true
        email:
          type: string
          format: email
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        role:
          type: string
          enum: [customer, installer, provider, admin, verifier]
        status:
          type: string
          enum: [active, inactive, suspended]
        profile_image_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        first_name: "Ama"
        last_name: "Mensah"
        other_names: "Abena"
        email: "ama@example.com"
        phone: "+233500000000"
        address: "Osu, Accra"
        role: "customer"
        status: "active"
        profile_image_url: "https://s3.amazonaws.com/tumi/profile1.png"
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    # ---------------------- SITE ----------------------
    Site:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        name:
          type: string
        address:
          type: string
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
          description: "Latitude coordinate (must be between -90 and 90)"
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
          description: "Longitude coordinate (must be between -180 and 180)"
        timezone:
          type: string
          description: "Valid timezone identifier (e.g., Africa/Accra, America/New_York)"
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, user_id, name, address, latitude, longitude, timezone]
      example:
        id: 101
        user_id: 1
        name: "Accra Apartment"
        address: "Osu, Accra, Ghana"
        latitude: 5.603717
        longitude: -0.186964
        timezone: "Africa/Accra"
        notes: "Single phase connection"
        created_at: "2025-12-08T10:00:00Z"
        updated_at: "2025-12-08T10:00:00Z"

    # ---------------------- IMAGE ----------------------
    Image:
      type: object
      properties:
        id: integer
        url: string
        caption: string
      example:
        id: 501
        url: https://s3.tumi-energy.com/sites/site1-1.jpg
        caption: "Front view of building"

    # ---------------------- APPLIANCE ----------------------
    Appliance:
      type: object
      properties:
        id: integer
        name: string
        default_wattage: number
        category: string
      example:
        id: 7
        name: "Ceiling Fan"
        default_wattage: 75
        category: "Cooling"

    # ---------------------- USER APPLIANCE ----------------------
    UserAppliance:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        site_id:
          type: integer
        appliance_id:
          type: integer
        quantity:
          type: integer
          minimum: 1
        daily_usage_hours:
          type: number
          format: double
          minimum: 0
          maximum: 24
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, user_id, site_id, appliance_id, quantity, daily_usage_hours]
      example:
        id: 1
        user_id: 1
        site_id: 101
        appliance_id: 7
        quantity: 2
        daily_usage_hours: 8.5
        notes: "Living room and bedroom fans"
        created_at: "2025-12-10T10:00:00Z"
        updated_at: "2025-12-10T10:00:00Z"

    # ---------------------- ESTIMATION ----------------------
    Estimation:
      type: object
      properties:
        id: integer
        site_id: integer
        total_kw: number
        daily_kwh: number
        monthly_cost_est: number
        currency: string
        input_payload: object
        status:
          type: string
          enum: [draft, completed]
      example:
        id: 301
        site_id: 101
        total_kw: 2.3
        daily_kwh: 5.2
        monthly_cost_est: 270.5
        currency: "GHS"
        input_payload:
          appliances:
            - id: 7
              quantity: 3
            - id: 12
              quantity: 2
          meter_image: "https://s3.tumi-energy.com/meters/meter1.jpg"
        status: completed

    # ---------------------- RECOMMENDED HARDWARE ----------------------
    RecommendedHardware:
      type: object
      properties:
        id: integer
        estimation_id: integer
        hardware_id: integer
        quantity: integer
        total_cost: number
        currency: string
      example:
        id: 901
        estimation_id: 301
        hardware_id: 4001
        quantity: 2
        total_cost: 1800.00
        currency: "GHS"

    # ---------------------- PAYMENT ----------------------
    Payment:
      type: object
      properties:
        id: integer
        project_id: integer
        amount: number
        payment_method:
          type: string
          enum: [momo, card, bank, transfer]
        status:
          type: string
          enum: [pending, success, failed, refunded]
        transaction_ref: string
      example:
        id: 701
        project_id: 601
        amount: 1200.00
        payment_method: momo
        status: success
        transaction_ref: "TXN-123456789"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      example:
        success: false
        message: "Validation failed"
        errors:
          email: ["This email is already registered"]

paths:
  # ---------------- AUTH ----------------
  /auth/register:
    post:
      summary: Register a new user
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, email, password, password_confirmation]
              properties:
                first_name:
                  type: string
                  example: "Ama"
                last_name:
                  type: string
                  example: "Mensah"
                other_names:
                  type: string
                  nullable: true
                  example: "Abena"
                email:
                  type: string
                  format: email
                  example: "ama.mensah@example.com"
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123"
                password_confirmation:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123"
                phone:
                  type: string
                  nullable: true
                  example: "+233500000000"
                address:
                  type: string
                  nullable: true
                  example: "Osu, Accra"
                role:
                  type: string
                  enum: [customer, installer, provider, admin]
                  nullable: true
                  example: "customer"
      responses:
        "201":
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Registration successful"
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      access_token:
                        type: string
                        example: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
              example:
                success: true
                message: "Registration successful"
                data:
                  user:
                    id: 1
                    first_name: "Ama"
                    last_name: "Mensah"
                    other_names: "Abena"
                    email: "ama.mensah@example.com"
                    phone: "+233500000000"
                    address: "Osu, Accra"
                    role: "customer"
                    status: "active"
                    created_at: "2025-12-07T10:30:00Z"
                    updated_at: "2025-12-07T10:30:00Z"
                  access_token: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Validation failed"
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                message: "Validation failed"
                errors:
                  email: ["This email is already registered"]
                  password: ["Password confirmation does not match"]

  /auth/login:
    post:
      summary: Login user and receive JWT
      tags: [Auth]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: string
                password: string
      responses:
        "200":
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Login successful"
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      access_token:
                        type: string
                        example: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
              example:
                success: true
                message: "Login successful"
                data:
                  user:
                    id: 1
                    first_name: "Ama"
                    last_name: "Mensah"
                    email: "ama@example.com"
                    role: "customer"
                    status: "active"
                  access_token: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Invalid credentials"
              example:
                success: false
                message: "Invalid credentials"

  /auth/me:
    get:
      summary: Get authenticated user details
      description: Returns the profile information of the currently authenticated user
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "User retrieved successfully"
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
              example:
                success: true
                message: "User retrieved successfully"
                data:
                  user:
                    id: 1
                    first_name: "Ama"
                    last_name: "Mensah"
                    other_names: "Abena"
                    email: "ama@example.com"
                    phone: "+233500000000"
                    address: "Osu, Accra"
                    role: "customer"
                    status: "active"
                    created_at: "2025-01-10T08:00:00Z"
                    updated_at: "2025-01-10T08:00:00Z"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Unauthenticated"
              example:
                success: false
                message: "Unauthenticated"

  /auth/logout:
    post:
      summary: Logout user
      description: Revoke the current access token
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User logged out successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Successfully logged out"
              example:
                success: true
                message: "Successfully logged out"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Unauthenticated"
              example:
                success: false
                message: "Unauthenticated"

  # ---------------- SITES ----------------
  /sites:
    get:
      summary: List all user sites
      description: Retrieve all sites belonging to the authenticated user
      tags: [Sites]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Sites retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Sites retrieved successfully"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Site"
              example:
                success: true
                message: "Sites retrieved successfully"
                data:
                  - id: 101
                    user_id: 1
                    name: "Accra Apartment"
                    address: "Osu, Accra"
                    latitude: 5.603717
                    longitude: -0.186964
                    timezone: "Africa/Accra"
                    notes: "Single phase connection"
                    created_at: "2025-12-08T10:00:00Z"
                    updated_at: "2025-12-08T10:00:00Z"
                  - id: 102
                    user_id: 1
                    name: "Kumasi Office"
                    address: "Adum, Kumasi"
                    latitude: 6.688437
                    longitude: -1.624845
                    timezone: "Africa/Accra"
                    notes: "Three phase connection"
                    created_at: "2025-12-08T11:00:00Z"
                    updated_at: "2025-12-08T11:00:00Z"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Authentication required. Please provide a valid access token."
              example:
                success: false
                message: "Authentication required. Please provide a valid access token."

    post:
      summary: Create a new site
      description: Create a new site with location coordinates and details
      tags: [Sites]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, address, latitude, longitude, timezone]
              properties:
                name:
                  type: string
                  example: "Accra Apartment"
                address:
                  type: string
                  example: "Osu, Accra, Ghana"
                latitude:
                  type: number
                  format: double
                  minimum: -90
                  maximum: 90
                  example: 5.603717
                longitude:
                  type: number
                  format: double
                  minimum: -180
                  maximum: 180
                  example: -0.186964
                timezone:
                  type: string
                  example: "Africa/Accra"
                  description: "Valid timezone identifier (e.g., Africa/Accra, America/New_York)"
                notes:
                  type: string
                  nullable: true
                  example: "Single phase connection, accessible via main road"
      responses:
        "201":
          description: Site created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Site created successfully"
                  data:
                    $ref: "#/components/schemas/Site"
              example:
                success: true
                message: "Site created successfully"
                data:
                  id: 101
                  user_id: 1
                  name: "Accra Apartment"
                  address: "Osu, Accra, Ghana"
                  latitude: 5.603717
                  longitude: -0.186964
                  timezone: "Africa/Accra"
                  notes: "Single phase connection, accessible via main road"
                  created_at: "2025-12-08T10:00:00Z"
                  updated_at: "2025-12-08T10:00:00Z"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Validation failed"
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                message: "Validation failed"
                errors:
                  name: ["The name field is required."]
                  latitude: ["The latitude must be between -90 and 90."]
                  longitude: ["The longitude must be between -180 and 180."]
                  timezone: ["The timezone field is required."]
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Authentication required. Please provide a valid access token."
              example:
                success: false
                message: "Authentication required. Please provide a valid access token."

  /sites/{id}:
    get:
      summary: Get a specific site
      description: Retrieve details of a specific site by ID
      tags: [Sites]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Site ID
          example: 101
      responses:
        "200":
          description: Site retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Site retrieved successfully"
                  data:
                    $ref: "#/components/schemas/Site"
              example:
                success: true
                message: "Site retrieved successfully"
                data:
                  id: 101
                  user_id: 1
                  name: "Accra Apartment"
                  address: "Osu, Accra, Ghana"
                  latitude: 5.603717
                  longitude: -0.186964
                  timezone: "Africa/Accra"
                  notes: "Single phase connection"
                  created_at: "2025-12-08T10:00:00Z"
                  updated_at: "2025-12-08T10:00:00Z"
        "404":
          description: Site not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Site not found"
              example:
                success: false
                message: "Site not found"
        "403":
          description: Forbidden - Not site owner
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "You do not have access to this site"
              example:
                success: false
                message: "You do not have access to this site"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Authentication required. Please provide a valid access token."
              example:
                success: false
                message: "Authentication required. Please provide a valid access token."

  /sites/{site_id}/appliances:
    post:
      summary: Add appliance to site
      description: Add an appliance with quantity and daily usage hours to a specific site
      tags: [Sites]
      security:
        - bearerAuth: []
      parameters:
        - name: site_id
          in: path
          required: true
          schema:
            type: integer
          description: Site ID
          example: 101
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appliance_id, quantity, daily_usage_hours]
              properties:
                appliance_id:
                  type: integer
                  description: ID of the appliance to add
                  example: 7
                quantity:
                  type: integer
                  minimum: 1
                  description: Number of appliances
                  example: 2
                daily_usage_hours:
                  type: number
                  format: double
                  minimum: 0
                  maximum: 24
                  description: Daily usage hours (0-24)
                  example: 8.5
                notes:
                  type: string
                  nullable: true
                  maxLength: 1000
                  description: Optional notes about the appliance usage
                  example: "Living room and bedroom fans"
      responses:
        "201":
          description: Appliance added to site successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Appliance added to site successfully"
                  data:
                    $ref: "#/components/schemas/UserAppliance"
              example:
                success: true
                message: "Appliance added to site successfully"
                data:
                  id: 1
                  user_id: 1
                  site_id: 101
                  appliance_id: 7
                  quantity: 2
                  daily_usage_hours: 8.5
                  notes: "Living room and bedroom fans"
                  created_at: "2025-12-10T10:00:00Z"
                  updated_at: "2025-12-10T10:00:00Z"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Unauthenticated"
              example:
                success: false
                message: "Unauthenticated"
        "403":
          description: Forbidden - User doesn't own the site
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "You do not have access to this site"
              example:
                success: false
                message: "You do not have access to this site"
        "404":
          description: Site not found or access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Site not found or access denied"
              example:
                success: false
                error: "Site not found or access denied"
        "409":
          description: Appliance already added to site
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Appliance already added to this site"
              example:
                success: false
                error: "Appliance already added to this site"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Validation failed"
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                message: "Validation failed"
                errors:
                  appliance_id: ["Selected appliance does not exist"]
                  quantity: ["Quantity must be at least 1"]
                  daily_usage_hours: ["Daily usage hours cannot exceed 24"]

  # ---------------- ESTIMATION ----------------
  /estimations:
    post:
      summary: Create energy estimation
      tags: [Estimations]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [site_id, input_payload]
              properties:
                site_id: integer
                input_payload: object
      responses:
        "201":
          description: Estimation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Estimation"

  /estimations/{id}/recommendations:
    get:
      summary: Get recommended hardware based on estimation
      tags: [Estimations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Recommended hardware list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecommendedHardware"

  # ---------------- PAYMENTS ----------------
  /projects/{id}/payments:
    post:
      summary: Make a payment for a project milestone
      tags: [Payments]
      parameters:
        - name: id
          in: path
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount, payment_method]
              properties:
                amount: number
                payment_method: string
                milestone_id: integer
      responses:
        "201":
          description: Payment recorded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          description: Payment error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ---------------- APPLIANCES ----------------
  /appliances:
    get:
      summary: List all appliances
      tags: [Appliances]
      responses:
        "200":
          description: Appliance list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Appliance"

  /appliances/{id}:
    get:
      summary: Get an appliance by ID
      tags: [Appliances]
      parameters:
        - name: id
          in: path
          schema:
            type: integer
      responses:
        "200":
          description: Appliance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appliance"