openapi: 3.1.0
info:
  title: Tumi Configurator API
  version: 1.0.0
  description: >
    Backend API for Tumi Configurator built with Laravel.
    It supports energy estimation, hardware recommendation,
    installer assignment, milestone-based payments, and verification.

servers:
  - url: https://api.tumi-energy.com/v1
    description: Production API
  - url: https://staging-api.tumi-energy.com/v1
    description: Staging API

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ---------------------- USER ----------------------
    User:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        other_names:
          type: string
          nullable: true
        email:
          type: string
          format: email
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        role:
          type: string
          enum: [customer, installer, provider, admin, verifier]
        status:
          type: string
          enum: [active, inactive, suspended]
        profile_image_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        first_name: "Ama"
        last_name: "Mensah"
        other_names: "Abena"
        email: "ama@example.com"
        phone: "+233500000000"
        address: "Osu, Accra"
        role: "customer"
        status: "active"
        profile_image_url: "https://s3.amazonaws.com/tumi/profile1.png"
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    # ---------------------- INSTALLER DETAIL ----------------------
    InstallerDetail:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        company_name:
          type: string
          nullable: true
          description: "Company name for company installers, null for individuals"
        license_number:
          type: string
        service_areas:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
          nullable: true
        years_experience:
          type: integer
        rating:
          type: number
          format: double
          minimum: 0
          maximum: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        user_id: 10
        company_name: "ABC Installations Ltd"
        license_number: "LIC-GH-2024-001"
        service_areas: ["Greater Accra", "Ashanti", "Western"]
        certifications: ["Solar PV Installation", "Electrical Safety", "NABCEP Certified"]
        years_experience: 8
        rating: 4.75
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    # ---------------------- PROVIDER DETAIL ----------------------
    ProviderDetail:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        company_name:
          type: string
          nullable: true
          description: "Company name for company providers, null for individuals"
        business_registration:
          type: string
        service_areas:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
          nullable: true
        rating:
          type: number
          format: double
          minimum: 0
          maximum: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        user_id: 15
        company_name: "Solar Providers Ghana Ltd"
        business_registration: "BRN-GH-2024-5678"
        service_areas: ["Greater Accra", "Central", "Eastern"]
        certifications: ["ISO 9001:2015", "Solar Alliance Member", "Ghana Standards Authority"]
        rating: 4.85
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    # ---------------------- ORGANISATION ----------------------
    Organisation:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          enum: [installer, provider, customer]
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        installer_detail:
          $ref: "#/components/schemas/OrganisationInstallerDetail"
        provider_detail:
          $ref: "#/components/schemas/OrganisationProviderDetail"
      example:
        id: 1
        name: "Solar Installations Co."
        type: "installer"
        description: "Professional solar installation company"
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    OrganisationInstallerDetail:
      type: object
      properties:
        id:
          type: integer
        organisation_id:
          type: integer
        license_number:
          type: string
        service_areas:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
          nullable: true
        years_experience:
          type: integer
        rating:
          type: number
          format: double
          minimum: 0
          maximum: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        organisation_id: 1
        license_number: "ORG-LIC-GH-2024-001"
        service_areas: ["Greater Accra", "Ashanti", "Western"]
        certifications: ["ISO 9001:2015", "Solar PV Installation"]
        years_experience: 10
        rating: 4.8
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    OrganisationProviderDetail:
      type: object
      properties:
        id:
          type: integer
        organisation_id:
          type: integer
        business_registration:
          type: string
        service_areas:
          type: array
          items:
            type: string
        certifications:
          type: array
          items:
            type: string
          nullable: true
        rating:
          type: number
          format: double
          minimum: 0
          maximum: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        organisation_id: 2
        business_registration: "ORG-BRN-GH-2024-001"
        service_areas: ["Greater Accra", "Central"]
        certifications: ["ISO 9001:2015", "Ghana Standards Authority"]
        rating: 4.9
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    OrganisationMember:
      type: object
      properties:
        id:
          type: integer
        organisation_id:
          type: integer
        user_id:
          type: integer
        role:
          type: string
          enum: [owner, admin, installer, provider, customer]
        joined_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          $ref: "#/components/schemas/User"
      example:
        id: 1
        organisation_id: 1
        user_id: 5
        role: "admin"
        joined_at: "2025-01-10T08:00:00Z"
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    OrganisationInvitation:
      type: object
      properties:
        id:
          type: integer
        organisation_id:
          type: integer
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, installer, provider, customer]
        status:
          type: string
          enum: [pending, accepted, rejected, expired]
        token:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 1
        organisation_id: 1
        email: "newmember@example.com"
        role: "installer"
        status: "pending"
        token: "inv_abc123xyz789"
        expires_at: "2025-01-17T08:00:00Z"
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    # ---------------------- SITE ----------------------
    Site:
      type: object
      properties:
        id:
          type: integer
        owner_id:
          type: integer
        owner_type:
          type: string
          enum: [User, Organisation]
        name:
          type: string
        address:
          type: string
        longitude:
          type: number
        latitude:
          type: number
        timezone:
          type: string
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 101
        owner_id: 1
        owner_type: "User"
        name: "Accra Apartment"
        address: "Osu, Accra"
        longitude: -0.186964
        latitude: 5.603717
        timezone: "Africa/Accra"
        notes: "Single phase connection"
        created_at: "2025-01-10T08:00:00Z"
        updated_at: "2025-01-10T08:00:00Z"

    # ---------------------- IMAGE ----------------------
    Image:
      type: object
      properties:
        id: integer
        url: string
        caption: string
      example:
        id: 501
        url: https://s3.tumi-energy.com/sites/site1-1.jpg
        caption: "Front view of building"

    # ---------------------- APPLIANCE ----------------------
    Appliance:
      type: object
      properties:
        id: integer
        name: string
        default_wattage: number
        category: string
      example:
        id: 7
        name: "Ceiling Fan"
        default_wattage: 75
        category: "Cooling"

    # ---------------------- ESTIMATION ----------------------
    Estimation:
      type: object
      properties:
        id: integer
        site_id: integer
        total_kw: number
        daily_kwh: number
        monthly_cost_est: number
        currency: string
        input_payload: object
        status:
          type: string
          enum: [draft, completed]
      example:
        id: 301
        site_id: 101
        total_kw: 2.3
        daily_kwh: 5.2
        monthly_cost_est: 270.5
        currency: "GHS"
        input_payload:
          appliances:
            - id: 7
              quantity: 3
            - id: 12
              quantity: 2
          meter_image: "https://s3.tumi-energy.com/meters/meter1.jpg"
        status: completed

    # ---------------------- RECOMMENDED HARDWARE ----------------------
    RecommendedHardware:
      type: object
      properties:
        id: integer
        estimation_id: integer
        hardware_id: integer
        quantity: integer
        total_cost: number
        currency: string
      example:
        id: 901
        estimation_id: 301
        hardware_id: 4001
        quantity: 2
        total_cost: 1800.00
        currency: "GHS"

    # ---------------------- PAYMENT ----------------------
    Payment:
      type: object
      properties:
        id: integer
        project_id: integer
        amount: number
        payment_method:
          type: string
          enum: [momo, card, bank, transfer]
        status:
          type: string
          enum: [pending, success, failed, refunded]
        transaction_ref: string
      example:
        id: 701
        project_id: 601
        amount: 1200.00
        payment_method: momo
        status: success
        transaction_ref: "TXN-123456789"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      example:
        success: false
        message: "Validation failed"
        errors:
          email: ["This email is already registered"]

paths:
  # ---------------- AUTH ----------------
  /auth/register:
    post:
      summary: Register a new user
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, email, password, password_confirmation]
              properties:
                first_name:
                  type: string
                  example: "Ama"
                last_name:
                  type: string
                  example: "Mensah"
                other_names:
                  type: string
                  nullable: true
                  example: "Abena"
                email:
                  type: string
                  format: email
                  example: "ama.mensah@example.com"
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123"
                password_confirmation:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123"
                phone:
                  type: string
                  nullable: true
                  example: "+233500000000"
                address:
                  type: string
                  nullable: true
                  example: "Osu, Accra"
                role:
                  type: string
                  enum: [customer, installer, provider, admin]
                  nullable: true
                  example: "customer"
      responses:
        "201":
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Registration successful"
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      access_token:
                        type: string
                        example: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
              example:
                success: true
                message: "Registration successful"
                data:
                  user:
                    id: 1
                    first_name: "Ama"
                    last_name: "Mensah"
                    other_names: "Abena"
                    email: "ama.mensah@example.com"
                    phone: "+233500000000"
                    address: "Osu, Accra"
                    role: "customer"
                    status: "active"
                    created_at: "2025-12-07T10:30:00Z"
                    updated_at: "2025-12-07T10:30:00Z"
                  access_token: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Validation failed"
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                message: "Validation failed"
                errors:
                  email: ["This email is already registered"]
                  password: ["Password confirmation does not match"]

  /auth/register/installer:
    post:
      summary: Register a new installer
      description: |
        Register a user with installer role and professional details.
        
        **Supports both individuals and companies:**
        - Individual installers: Omit company_name or set to null
        - Company installers: Provide company_name
        
        All installers must have a valid license_number and specify their service_areas.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, email, password, password_confirmation, license_number, service_areas, years_experience]
              properties:
                first_name:
                  type: string
                  example: "John"
                last_name:
                  type: string
                  example: "Installer"
                other_names:
                  type: string
                  nullable: true
                  example: "David"
                email:
                  type: string
                  format: email
                  example: "john.installer@example.com"
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123"
                password_confirmation:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123"
                phone:
                  type: string
                  nullable: true
                  example: "+233501234567"
                address:
                  type: string
                  nullable: true
                  example: "Tema, Greater Accra"
                company_name:
                  type: string
                  nullable: true
                  example: "ABC Installations Ltd"
                  description: "Company name (optional - for companies) or null for individual installers"
                license_number:
                  type: string
                  example: "LIC-GH-2024-001"
                service_areas:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  example: ["Greater Accra", "Ashanti", "Western"]
                certifications:
                  type: array
                  items:
                    type: string
                  nullable: true
                  example: ["Solar PV Installation", "Electrical Safety"]
                years_experience:
                  type: integer
                  minimum: 0
                  maximum: 100
                  example: 8
      responses:
        "201":
          description: Installer registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Installer registration successful"
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      installer:
                        $ref: "#/components/schemas/InstallerDetail"
                      access_token:
                        type: string
                        example: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
              example:
                success: true
                message: "Installer registration successful"
                data:
                  user:
                    id: 10
                    first_name: "John"
                    last_name: "Installer"
                    other_names: "David"
                    email: "john.installer@example.com"
                    phone: "+233501234567"
                    address: "Tema, Greater Accra"
                    role: "installer"
                    status: "active"
                    created_at: "2025-12-10T10:30:00Z"
                    updated_at: "2025-12-10T10:30:00Z"
                  installer:
                    id: 1
                    user_id: 10
                    company_name: "ABC Installations Ltd"
                    license_number: "LIC-GH-2024-001"
                    service_areas: ["Greater Accra", "Ashanti", "Western"]
                    certifications: ["Solar PV Installation", "Electrical Safety"]
                    years_experience: 8
                    rating: 0.00
                    created_at: "2025-12-10T10:30:00Z"
                    updated_at: "2025-12-10T10:30:00Z"
                  access_token: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Validation failed"
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                message: "Validation failed"
                errors:
                  email: ["This email is already registered"]
                  license_number: ["This license number is already in use"]
                  service_areas: ["The service areas field is required"]

  /auth/register/provider:
    post:
      summary: Register a new provider
      description: |
        Register a user with provider role and business details.
        
        **Supports both individuals and companies:**
        - Individual providers: Omit company_name or set to null
        - Company providers: Provide company_name
        
        All providers must have a valid business_registration and specify their service_areas.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, email, password, password_confirmation, business_registration, service_areas]
              properties:
                first_name:
                  type: string
                  example: "Sarah"
                last_name:
                  type: string
                  example: "Provider"
                other_names:
                  type: string
                  nullable: true
                  example: "Jane"
                email:
                  type: string
                  format: email
                  example: "sarah.provider@example.com"
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123"
                password_confirmation:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123"
                phone:
                  type: string
                  nullable: true
                  example: "+233507654321"
                address:
                  type: string
                  nullable: true
                  example: "Kumasi, Ashanti"
                company_name:
                  type: string
                  nullable: true
                  example: "Solar Providers Ghana Ltd"
                  description: "Company name (optional - for companies) or null for individual providers"
                business_registration:
                  type: string
                  example: "BRN-GH-2024-5678"
                service_areas:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  example: ["Greater Accra", "Central", "Eastern"]
                certifications:
                  type: array
                  items:
                    type: string
                  nullable: true
                  example: ["ISO 9001:2015", "Solar Alliance Member"]
      responses:
        "201":
          description: Provider registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Provider registration successful"
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      provider:
                        $ref: "#/components/schemas/ProviderDetail"
                      access_token:
                        type: string
                        example: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
              example:
                success: true
                message: "Provider registration successful"
                data:
                  user:
                    id: 15
                    first_name: "Sarah"
                    last_name: "Provider"
                    other_names: "Jane"
                    email: "sarah.provider@example.com"
                    phone: "+233507654321"
                    address: "Kumasi, Ashanti"
                    role: "provider"
                    status: "active"
                    created_at: "2025-12-10T11:00:00Z"
                    updated_at: "2025-12-10T11:00:00Z"
                  provider:
                    id: 1
                    user_id: 15
                    company_name: "Solar Providers Ghana Ltd"
                    business_registration: "BRN-GH-2024-5678"
                    service_areas: ["Greater Accra", "Central", "Eastern"]
                    certifications: ["ISO 9001:2015", "Solar Alliance Member"]
                    rating: 0.00
                    created_at: "2025-12-10T11:00:00Z"
                    updated_at: "2025-12-10T11:00:00Z"
                  access_token: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Validation failed"
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                success: false
                message: "Validation failed"
                errors:
                  email: ["This email is already registered"]
                  business_registration: ["This business registration number is already in use"]
                  service_areas: ["The service areas field is required"]

  /auth/login:
    post:
      summary: Login user and receive JWT
      tags: [Auth]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: string
                password: string
      responses:
        "200":
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Login successful"
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      access_token:
                        type: string
                        example: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
              example:
                success: true
                message: "Login successful"
                data:
                  user:
                    id: 1
                    first_name: "Ama"
                    last_name: "Mensah"
                    email: "ama@example.com"
                    role: "customer"
                    status: "active"
                  access_token: "1|abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Invalid credentials"
              example:
                success: false
                message: "Invalid credentials"

  /auth/me:
    get:
      summary: Get authenticated user details
      description: Returns the profile information of the currently authenticated user
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "User retrieved successfully"
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
              example:
                success: true
                message: "User retrieved successfully"
                data:
                  user:
                    id: 1
                    first_name: "Ama"
                    last_name: "Mensah"
                    other_names: "Abena"
                    email: "ama@example.com"
                    phone: "+233500000000"
                    address: "Osu, Accra"
                    role: "customer"
                    status: "active"
                    created_at: "2025-01-10T08:00:00Z"
                    updated_at: "2025-01-10T08:00:00Z"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Unauthenticated"
              example:
                success: false
                message: "Unauthenticated"

  /auth/logout:
    post:
      summary: Logout user
      description: Revoke the current access token
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User logged out successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Successfully logged out"
              example:
                success: true
                message: "Successfully logged out"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Unauthenticated"
              example:
                success: false
                message: "Unauthenticated"

  # ---------------- ORGANISATIONS ----------------
  /organisations:
    get:
      summary: List all organisations for authenticated user
      description: Returns all organisations where the user is a member
      tags: [Organisations]
      responses:
        "200":
          description: List of organisations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Organisations retrieved successfully"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organisation"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: Create a new organisation
      description: |
        Create an organisation with optional site transfer.
        
        **Organisation Types:**
        - installer: Requires license_number, service_areas, years_experience
        - provider: Requires business_registration, service_areas
        - customer: Only requires name and description
        
        **Site Transfer:**
        Set transfer_sites to true to migrate user's existing sites to the new organisation.
      tags: [Organisations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name:
                  type: string
                  example: "Solar Installations Co."
                type:
                  type: string
                  enum: [installer, provider, customer]
                  example: "installer"
                description:
                  type: string
                  nullable: true
                  example: "Professional solar installation company"
                transfer_sites:
                  type: boolean
                  nullable: true
                  example: true
                  description: "Transfer user's existing sites to organisation"
                license_number:
                  type: string
                  example: "ORG-LIC-GH-2024-001"
                  description: "Required for installer type"
                business_registration:
                  type: string
                  example: "ORG-BRN-GH-2024-001"
                  description: "Required for provider type"
                service_areas:
                  type: array
                  items:
                    type: string
                  example: ["Greater Accra", "Ashanti"]
                  description: "Required for installer and provider types"
                certifications:
                  type: array
                  items:
                    type: string
                  nullable: true
                  example: ["ISO 9001:2015"]
                years_experience:
                  type: integer
                  example: 10
                  description: "Required for installer type"
      responses:
        "201":
          description: Organisation created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Organisation created successfully"
                  data:
                    $ref: "#/components/schemas/Organisation"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /organisations/{id}:
    get:
      summary: Get organisation details
      description: Get detailed information about a specific organisation
      tags: [Organisations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Organisation details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Organisation retrieved successfully"
                  data:
                    $ref: "#/components/schemas/Organisation"
        "403":
          description: Forbidden - Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Organisation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: Update organisation
      description: Update organisation details (requires admin or owner permission)
      tags: [Organisations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Organisation updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Organisation updated successfully"
                  data:
                    $ref: "#/components/schemas/Organisation"
        "403":
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: Delete organisation
      description: Delete organisation (requires owner permission)
      tags: [Organisations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Organisation deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Organisation deleted successfully"
        "403":
          description: Forbidden - Not the owner
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /organisations/{id}/members:
    get:
      summary: Get organisation members
      description: List all members of an organisation
      tags: [Organisations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Members retrieved successfully"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganisationMember"

  /organisations/{id}/invite:
    post:
      summary: Invite user to organisation
      description: Send invitation to join organisation (requires admin or owner permission)
      tags: [Organisations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email:
                  type: string
                  format: email
                  example: "newmember@example.com"
                role:
                  type: string
                  enum: [admin, installer, provider, customer]
                  example: "installer"
      responses:
        "201":
          description: Invitation sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Invitation sent successfully"
                  data:
                    $ref: "#/components/schemas/OrganisationInvitation"

  /organisations/invitations/{token}/accept:
    post:
      summary: Accept organisation invitation
      description: Accept an invitation to join an organisation
      tags: [Organisations]
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invitation accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Invitation accepted successfully"
                  data:
                    $ref: "#/components/schemas/OrganisationMember"

  /organisations/{id}/members/{memberId}:
    delete:
      summary: Remove member from organisation
      description: Remove a member from organisation (requires admin or owner permission)
      tags: [Organisations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: memberId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Member removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Member removed successfully"

    patch:
      summary: Update member role
      description: Update a member's role in organisation (requires owner permission)
      tags: [Organisations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: memberId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [owner, admin, installer, provider, customer]
                  example: "admin"
      responses:
        "200":
          description: Member role updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Member role updated successfully"
                  data:
                    $ref: "#/components/schemas/OrganisationMember"

  /organisations/{id}/sites:
    get:
      summary: List organisation sites
      description: Get all sites owned by the organisation (requires membership)
      tags: [Organisations, Sites]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of organisation sites
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Organisation sites retrieved successfully"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Site"
        "403":
          description: Forbidden - Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: Create organisation site
      description: Create a new site for the organisation (requires admin or owner permission)
      tags: [Organisations, Sites]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, address, latitude, longitude, timezone]
              properties:
                name:
                  type: string
                  example: "Accra Office"
                address:
                  type: string
                  example: "123 Independence Ave, Accra"
                latitude:
                  type: number
                  minimum: -90
                  maximum: 90
                  example: 5.603717
                longitude:
                  type: number
                  minimum: -180
                  maximum: 180
                  example: -0.186964
                timezone:
                  type: string
                  example: "Africa/Accra"
                notes:
                  type: string
                  nullable: true
                  example: "Main office location"
      responses:
        "201":
          description: Site created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Site created successfully"
                  data:
                    $ref: "#/components/schemas/Site"
        "403":
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /organisations/{id}/sites/{siteId}:
    get:
      summary: Get organisation site details
      description: Get details of a specific organisation site (requires membership)
      tags: [Organisations, Sites]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: siteId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Site details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Site retrieved successfully"
                  data:
                    $ref: "#/components/schemas/Site"
        "403":
          description: Forbidden - Not a member or site belongs to different organisation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ---------------- SITES ----------------
  /sites:
    get:
      summary: List user's personal sites
      description: Get all sites owned by the authenticated user
      tags: [Sites]
      responses:
        "200":
          description: List of user sites
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Sites retrieved successfully"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Site"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: Create a user site
      description: Create a new site for the authenticated user
      tags: [Sites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, address, latitude, longitude, timezone]
              properties:
                name:
                  type: string
                  example: "Home"
                address:
                  type: string
                  example: "123 Main St, Accra"
                latitude:
                  type: number
                  minimum: -90
                  maximum: 90
                  example: 5.603717
                longitude:
                  type: number
                  minimum: -180
                  maximum: 180
                  example: -0.186964
                timezone:
                  type: string
                  example: "Africa/Accra"
                notes:
                  type: string
                  nullable: true
                  example: "Residential property"
      responses:
        "201":
          description: Site created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Site created successfully"
                  data:
                    $ref: "#/components/schemas/Site"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sites/{id}:
    get:
      summary: Get user site details
      description: Get details of a specific user site
      tags: [Sites]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Site details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Site retrieved successfully"
                  data:
                    $ref: "#/components/schemas/Site"
        "403":
          description: Forbidden - Not the owner
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Site not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ---------------- ESTIMATION ----------------
  /estimations:
    post:
      summary: Create energy estimation
      tags: [Estimations]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [site_id, input_payload]
              properties:
                site_id: integer
                input_payload: object
      responses:
        "201":
          description: Estimation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Estimation"

  /estimations/{id}/recommendations:
    get:
      summary: Get recommended hardware based on estimation
      tags: [Estimations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Recommended hardware list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecommendedHardware"

  # ---------------- PAYMENTS ----------------
  /projects/{id}/payments:
    post:
      summary: Make a payment for a project milestone
      tags: [Payments]
      parameters:
        - name: id
          in: path
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount, payment_method]
              properties:
                amount: number
                payment_method: string
                milestone_id: integer
      responses:
        "201":
          description: Payment recorded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          description: Payment error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ---------------- APPLIANCES ----------------
  /appliances:
    get:
      summary: List all appliances
      tags: [Appliances]
      responses:
        "200":
          description: Appliance list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Appliance"

  /appliances/{id}:
    get:
      summary: Get an appliance by ID
      tags: [Appliances]
      parameters:
        - name: id
          in: path
          schema:
            type: integer
      responses:
        "200":
          description: Appliance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appliance"